nav{
    display: flex;
    background: black;
}
.navbar img{
    vertical-align: middle;
}
#logo{
    display: inline-block;
}
ul{
    padding-left: 400px;
}
ul>:first-child>a{
    color: #f19201;
}

li{
    display: inline-flex;
    padding: 15px 0 0 60px;
}
a{
    text-decoration: none;
    color: #ffff;
}
#moringa{
    padding: 20px 0 0 80px;
    
}
#moringa button{
    height: 40px;
    width: 110px;
    font-size: 15px;
    color: #ffff;
    background: #f19201;
    border: #f19201;
}